*{box-sizing: border-box;}

body {
    background-color: rgba(250,250,250,.6);
    font-family: 'Barlow', sans-serif;
    font-size: 17px;
    margin: auto;
    margin-top: -20px;
}
header{
    background-color: rgba(135,45,45,.8);
}
h1 {
    text-align: center;
    font-family: 'Inconsolata',monospace;
    font-weight: normal;
    text-transform: uppercase;
    margin-top: 20px;
    letter-spacing: 8px;
    font-family: 'Fascinate Inline',cursive;
    font-size: 50px;
    color: white;
    text-shadow: .3em .2em black;
}

/*Efecto de recetas*/
#rec{
            display: block;
        }
        #r{width: 210px;}
        
        .menu1 #r #rec{
            display: none;
            min-width: 140px;
        }
        .menu1 #r:hover > #rec{
            display: inline-block;
        }
        
        #rec a:hover:invalid{
           background-color: rgba(135,45,45,.6);
        }
/**/

.head{display:inline-flex}
#nombre{
    position: absolute;
    margin-top: 1.5%;
}

h2 {
    color: #000;
    font-size: 1.5em;
}
a{
    color:red;
    text-decoration: none;
    font-style: italic;
}    

img{
    border: 0px solid;
    box-shadow: .2em .1em ;
} 


#logo{
    height: 130px;
    width: 190px;
    padding-left: 0px;
    border: none;
    margin-left: -30px;
}

.platillo{color:ivory}

dl {
    margin-left: 15px;
    color: #b12a0d;
    line-height: 2;
}
img#icono{
    border-radius: 40px;
    border: none;
    box-shadow: none;
    width: 20px;
}

/*efecto de favoritos*/
.container {
    position: relative;
    display: inline;
    width: 50%;
    margin: 100px;
}
.image {
    position: relative;
    width: 300px;
    height: 300px;
}
.overlay {
    position: absolute;
    display: inline;
    left: 0;
    right: 0;
    height: 300px;
    width: 300px;
    opacity: 0;
    transition: .6s ease;
    background-color: rgba(180,69,40,0.7);
}
.container:hover .overlay {
    opacity: 1;
    float: left;
}
.txt {
    font-family: sans-serif;
    color: white;
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/*Estilos menu principal */

#menu{
    text-align: center;
    background-color: rgba(200,150,250,.08);
    margin-left: none;
}
ul{
    list-style-type: none;
    list-style-position: inside;
    display: inline-flex;
    margin-top: 0px;
    margin-bottom: -.1px;
}
ul.topnav li a {
    display: block;
    color: rgba(0,0,0,.6);
    font-weight: bold;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    }
ul.topnav li a:hover:not(.activo) {background-color: rgba(219,33,36,.2);
transition: all 350ms;}
ul.topnav li a.activo {background-color: rgba(135,45,45,.7);}
ul.topnav li.right {float: right;}
/*Estilos lista de menú*/
ul.menu1 {

    list-style-type: none;
    margin: 0%;
    padding-left: .5%;
    width: 7%;
    font-style: 20px;
    position: fixed;
    height: 10%;
    overflow: all;
    display: list-item;
    font-weight: bold;
}

ul.menu1 li a {
     display: block;
     color: rgba(0,0,0,.6);
     padding: 8px 0px;
     text-decoration: none;
}
ul.menu1 li a:active {
  background-color: rgba(135,45,45,.6);
  color: rgba(250,250,250,1);
}
ul.menu1 li a:hover:not(.active) {
  background-color: rgba(0,0,0,.5);
  color: rgba(250,250,250,1);
}

.container {
max-width:500px;
width:30%;
height: 0%;
margin-top: 0%;
margin-left:35%;
position:absolute;
}


/*Estilos de los formularios*/
#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] 
{ font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
    background:rgba(250,60,10,.03);
    padding:10px;
    margin:5px 0;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
    width:100%;
    border:0.2px solid #CCC;
    background:#FFF;
    margin:0 1 1px;
    padding:5px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
    -webkit-transition:border-color 0.3s ease-in-out;
    -moz-transition:border-color 0.3s ease-in-out;
    transition:border-color 0.3s ease-in-out;
    border:0.1px solid #0aa;
}

#contact textarea {
    height:100px;
    max-width:100%;
  resize:all;
}

#contact button[type="submit"] {
    cursor:pointer;
    width:100%;
    border:none;
    background:rgba(135,45,45,.8);
    color:#fff;
    margin:0 0 5px;
    padding:5px;
    font-size:15px;
}

#contact button[type="submit"]:hover {
    background:#000;
    -webkit-transition:background 0.3s ease-in-out;
    -moz-transition:background 0.3s ease-in-out;
    transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 2px 3px rgba(0, 0, 0, 1); }

#contact input:focus, #contact textarea:focus {
    outline:0;
    border:0.03px solid #888;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}