*{box-sizing: border-box;}
h1 {
    text-align: center;
    font-family: 'Inconsolata',monospace;
    font-weight: normal;
    text-transform: uppercase;
    margin-top: 20px;
    letter-spacing: 8px;
    font-family: 'Fascinate Inline',cursive;
    font-size: 50px;
    color: rgba(135,45,45,.8);
}
img{
    border: 0px solid;
    box-shadow: .2em .1em ;
} 
body {
    background-color: rgba(250,250,250,.6);
    font-family: 'Barlow', sans-serif;
    font-size: 17px;
    margin: auto;
}
section{
    margin-top: -30px;
}

.container {
    position: relative;
    display: inline;
    width: 50%;
    margin: 100px;
}
.image {
    position: relative;
    width: 300px;
    height: 300px;
}
.overlay {
    position: absolute;
    display: inline;
    left: 0;
    right: 0;
    height: 300px;
    width: 300px;
    opacity: 0;
    transition: .6s ease;
    background-color: rgba(180,69,40,0.7);
}
.container:hover .overlay {
    opacity: 1;
    float: left;
}
.txt {
    font-family: sans-serif;
    color: white;
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}